{% extends 'layout/sidebar.html' %}

{% block title %} Lista docentes asignados {% endblock %}

{% block content %}
<div class="container mx-auto mt-10">
    <h1 class="text-3xl font-extrabold text-center text-gray-900 mb-6">Compatibilidad Docente - Materias</h1>
    <div class="overflow-x-auto">
        <table id="tabla-datos" class="table-auto w-full bg-white shadow-lg rounded-lg">
            <thead>
                <tr class="bg-gradient-to-r from-gray-600 to-gray-900 text-white">
                    <th class="px-6 py-3 text-left text-sm font-semibold">Materias</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Docente asignado</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Encuesta Profesor (Conocimiento) AST</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Encuesta Estudiante (Satisfacción) AST</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">% AST</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Encuesta Profesor (Conocimiento) FL</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Encuesta Estudiante (Satisfacción) FL</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">% FL</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">% Compatibilidad</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas serán añadidas dinámicamente aquí -->
            </tbody>
        </table>
    </div>
</div>
<script>
    async function fetchResultados() {
        try {
            const response = await axios.get("{% url 'obtener_resultados_asignacion_docentes' %}");
            const datos = response.data;

            const tbody = document.querySelector("#tabla-datos tbody");
            tbody.innerHTML = ""; // Limpiar la tabla antes de agregar nuevos datos

            datos.forEach(({ materia, profesor, promedio_fl, promedio_ast , puntaje_promedio, puntaje_ast_prof, puntaje_fl_prof, puntaje_ast_est,
                puntaje_fl_est }) => {
                const fila = document.createElement("tr");
                fila.classList.add("border-b", "hover:bg-gray-50", "transition", "duration-300", "ease-in-out");

                fila.innerHTML = `
                    <td class="px-6 py-4 text-gray-700 text-xs">${materia}</td>
                    <td class="px-6 py-4 text-gray-700 text-xs">${profesor}</td>
                    <td class="px-6 py-4 text-center text-gray-800 font-bold text-xs">${puntaje_ast_prof}%</td>
                    <td class="px-6 py-4 text-center text-gray-800 font-bold text-xs">${puntaje_ast_est}%</td>
                    <td class="px-6 py-4 text-center text-gray-800 bg-gray-200 font-bold text-xs">${promedio_ast}%</td>
                    <td class="px-6 py-4 text-center text-gray-800 font-bold text-xs">${puntaje_fl_prof}%</td>
                    <td class="px-6 py-4 text-center text-gray-800 font-bold text-xs">${puntaje_fl_est}%</td>
                    <td class="px-6 py-4 text-center text-gray-800 bg-gray-200 font-bold text-xs">${promedio_fl}%</td>
                    <td class="px-6 py-4 text-center text-gray-800 bg-gray-300 font-bold text-xs">${puntaje_promedio}%</td>
                `;

                tbody.appendChild(fila);
            });
        } catch (error) {
            console.error("Error fetching resultados:", error);
        }
    }

    // Llamar la función para obtener datos al cargar la página
    fetchResultados();
</script>
{% endblock %}
